

<html lang="en">



    <section id="contact">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR LOCATION</h2>
                    <p>
                       <font color="white"> Punjab University College of Information Technology..</font><br>
                        <font color="white">0322-4526935</font>
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-12">
                    <h3> Lahore City,</h3>
                    <h3>Pakistan</h3>

                    <font color="white">
                        <a href="www.gmail.com">bitf12a008@pucit.edu.pk</a>
                        </font>

</div>

            </div>
        </div>
    </section>
