
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <!--carousel section starts here -->

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->

            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/homeImage/AFTV-Gaming-GW3-1500x300._V304352397_.jpg" />

                </div>

                <div class="item">

                    <img src="~/homeImage/FTVS-Evergreen-GW2-1500x300._V307293764_.jpg" />


                   

                </div>

                <div class="item">
                    <img src="~/homeImage/GW_PIV_Superhero_MultiGrid_Anywhere-Anytime_May_2015_4500x900._UX1500_SX1500_V306150107_.jpg" />

                  

                </div>
                <div class="item">

                    <img src="~/homeImage/HERO_dress_maxi_alt_1x._V304527675_.jpg" />
                </div>



            </div>

            <!-- Controls -->

            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

                <span class="glyphicon glyphicon-chevron-left"></span>

            </a>

            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

                <span class="glyphicon glyphicon-chevron-right"></span>

            </a>

        </div>

        <!--carousel section ends here -->

    </div>


    <!-- Second div -->
    <!--carousel section starts here -->
    <h1>Mobiles</h1>

    <div id="second" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <div class="item active">


                <div style="text-align: center">

                    <img src="~/MobileImage/lg.jpg" />  <br>
                    <a href="/main/Details/">More</a>
                   </div>

                </div>

            <div class="item">

                <div style="text-align: center">

                    <img src="~/MobileImage/samsung.jpg" />  <br>
                    <a href="/main/Details/">More</a>
                    </div>

                </div>
        </div>

        <!-- Controls -->

        <a class="left carousel-control" href="#second" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>

        <a class="right carousel-control" href="#second" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

        </a>

    </div>

    <!--carousel section ends here -->
    <!-- third div -->
    <!--carousel section starts here -->
    <h1>Movies</h1>

    <div id="third" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <div class="item active">

                <div style="text-align: center">

                  
                    <img src="~/movieImage/follow.jpg" /><br> 
                    <a href="/main/Movies1/">More</a>
                 </div>
               
                </div>

            <div class="item">



                <div style="text-align: center">

                    <img src="~/movieImage/jack.jpg" /> <br>
                    <a href="/main/Movies1/">More</a>
                    </div>

                </div>
        </div>

        <!-- Controls -->

        <a class="left carousel-control" href="#third" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>

        <a class="right carousel-control" href="#third" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

        </a>

    </div>

    <!--carousel section ends here -->
    <!-- fourth div -->
    <!--carousel section starts here -->
    <h1>Electronics</h1>

    <div id="four" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->

        <div class="carousel-inner">

            <div class="item active">


                <div style="text-align: center">

                    <img src="~/electronicImage/watch.jpg" /> <br>
                    <a href="/main/electronics1/">More</a>
                    </div>
                </div>

            <div class="item">

                <div style="text-align: center">

                    <img src="~/electronicImage/remote.jpg" /> <br>
                    <a href="/main/electronics1/">More</a>
                    </div>

                </div>

        </div>

        <!-- Controls -->

        <a class="left carousel-control" href="#four" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

        </a>

        <a class="right carousel-control" href="#four" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

        </a>

</div>
    <!--carousel section ends here -->
