
<html xmlns="http://www.w3.org/1999/xhtml">

    <section id="about" name="about"></section>
    <div>
        <div class="container">
            <div class="row">
                <h3><font color="white">ABOUT US</font></h3>
                <!-- INTRO INFORMATIO-->
                <div class="col-lg-6 col-lg-offset-3">
                    <p>
                        Today, the world has entered into a digital era. Man has already stepped into the doors of digital era. In this era everything is being digitalized. One can view information using the internet from every corner of the world. Keeping this concept in mind my idea is to develop a website which provides information about electronics machines,garments,movies etc.
                    </p><br>
                    <p>
                        <a href="onlinevisit">WWW.VISITONLINE.COM</a>  will be helpful for people who are interested to purchase items and they do not know the worth/price of the items. Using this website they will be able to find the current rate of item in the market.This website is not shopping website,this website will only keep track of current retes of item such as price of mobile,computers,fabrics,and other electronics devices.
                    </p>

                </div>
            </div>
        </div>
    </div>
